.tg  {
  border-collapse:collapse;
  border-spacing:0;
  border-color:#C44D58;
}

.tg td{
  font-family:Arial, sans-serif;
  font-size:14px; padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#C44D58;
  color:#002b36;
  background-color:#F9CDAD;
}

.tg th{
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:#C44D58;
  color:#fdf6e3;
  background-color:#FE4365;
}

.tg .tg-u1ob{
  background-color:#ffffff;
  border-color:#ff0000;
  text-align:center;
  vertical-align:top
}

.tg .tg-kro7{
  background-color:#6a478f;
  border-color:#ff0000;
  text-align:center;
  vertical-align:top}

.tg .tg-wk8r{
  background-color:#ffffff;
  border-color:#ffffff;
  text-align:center; vertical-align:top}

.tg .tg-tz3s{
  border-color:#ff0000;
  text-align:center;
  vertical-align:top}

.tg .tg-t1bq{
  background-color:#b03532;
  border-color:#ff0000;
  text-align:center;
  vertical-align:top}

.tg .tg-j5iy{
  background-color:#33a8a5;
  border-color:#ff0000;
  text-align:center;
  vertical-align:top}
  
.tg .tg-9yym{
  background-color:#30997a;
  border-color:#ff0000;
  text-align:center;
  vertical-align:top}
