nav li a {
  display: block;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #e5f9ff;
  border: 1px solid red;
}
nav li a {
  color: #000;
   text-decoration: none;
   padding: 8px 16px;
 }
nav li a.active {
  background-color: #0a2463;
  color: white;}

nav li a:hover:not(.active) {
  background-color: #3E92CC;
  color: white;
}


nav li {
  text-align: center;
}
nav li:last-child {
  border-bottom: none;
}
